

#video1 {

position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}



#boton {

	
	width: auto;
	outline: none;
	border-width: 0;
	background-color: transparent;
	cursor: pointer;
}



#play {

	position: fixed;
	width: 80px;
	height: 80px;
	top: 45%;
	bottom: 45%;
	left: 47%;
	right: 47%;

}

#titulo {

	position: relative;
	width: 80px;
	height: 80px;
	top: 10%;
	left: 39%;
	
	font-size: 50px;



}

