@font-face{
	font-family: Titulos;
	src: url("../fonts/dunkin/Dunkin Sans.ttf");
	font-weight: bold;
}

html {
  scroll-behavior: smooth;
}


body {
	
	background-image: url('../IMG_FE/glowalet_1_ciclista.png');
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center;
}

a {

	font-size: 15px;
	color: white;
	text-decoration: none;
	font-family: 'Titulos';
	font-weight: bold;

}

a:hover {

	color:#40C5DF;
}

ul {

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    z-index: 2;
}

h1{

	justify-content: center;
	align-items: center;
	text-align: center;

	font-size: 11px;
	color: white;
	text-decoration: none;
	font-family: 'Titulos';
	font-weight: normal;
	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

}

h2{
	font-size: 10px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';
	word-spacing: -2px;
}

.credenciales {


	display: inline-block;
	height: 7px;
	width: 220px;
	margin: auto;
 	margin-top: 35px;
 	margin-left: 965px;
 	font-family: cursive; 
 	font-size: 10px;
	font-weight: bold;
	padding: 2%;
	justify-content: center;
	align-items: center;
	text-align: center;

}

#registrarse{
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	text-align: center;
	float: right;
	right: 340px;
}

#entrar{
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	text-align: center;
	float: right;
	right: 200px;

}


.circulo {
	position: fixed;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	float: right;
  	top: 50px;
  	right: 40px;
  	padding:2%;
  	cursor: pointer;
  	transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
  	/*LETRA*/ 
	color: #0AC2E7;
	font-size: 13px;
	font-weight: bold;
	box-shadow: 0 0 0 2px #D3D3D3;
	
	
}

.circulo:hover {

	box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #D3D3D3;
}

#circulo_blanco {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: white;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	float: left;
  	margin: auto;
 	margin-top: 560px;
 	margin-left: -100px; 
  	padding:2%;
  	
}



.instagram{
	position: fixed;
	width: 1px;
	height: 1px;
	float: right;
	top: 180px;
	right: 53px;
	padding: 2%;
}

.facebook{
	position: fixed;
	width: 1px;
	height: 1px;
	float: right;
	top: 147px;
	right: 53px;
	padding: 2%;
}

.botones_cookies {

	font-size: 10px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';
	background-color: white;
	border-style: none;
	
	

}

.botones_cookies:hover {

	color: red;

}


.botones_cookies:active {

	border-style: none;
	border-color: white;


}

.cookies {

	background: white;
	width: 370px;
	height: 10px;
	display: flex;
	position: fixed;
	align-items: center;
	text-align: center;
	left: 50%;
	right: 50%;
  	top: 90%;
  	justify-content: center;
 	border-radius: 7px;
 	padding:1%;
 	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 7px;

}


#consultar_cookies {
	display: inline-block;
	width: 70px;
	border-style: none;
	outline: none;
	
}

#aceptar_cookies {
	display: inline-block;
	width: 100px;
	border-style: none;
	outline: none;
	
}





#barra_cookies {
	display: flex;
	font-size: 14
	width: 3px;
	height: 3px;
	justify-content: center;
	align-items: center;


	

}

#politica_cookies{

	width: 350px;

}

#siguenos {
	position: fixed;
	float: right;
	top: 250px;
	right: -5px;
	padding: 2%;
}

#cookies_div {
position: fixed;
background-color: white;
width: 50%;
height: 65%;
justify-content: center;
align-items: center;
	text-align: center;
	left: 25%;
	right: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 7px;
 	padding:1%;
 	visibility: hidden;

}

#titulo_cookies_div {

	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 15px;

	width: 100%;
	height: 6%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 7px;
 	
}

#titulo_cookies {

	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';

	
}






.circulo_blanco:after,
.circulo_blanco:before {
    background: #000;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.circulo_blanco:before {
    top: -10px;
}

.circulo_blanco:after {
    bottom: -10px;
}

input {
    
}

input:checked ~ label .circulo {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
}

input:checked ~ label .circulo_blanco {
    transform: rotate(45deg);
}

input:checked ~ label .circulo_blanco:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ label .circulo_blanco:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ ul {
    opacity: 1;
}
