@font-face{
	font-family: Titulos;
	src: url("../fonts/dunkin/Dunkin Sans.ttf");
	font-weight: bold;
}


html {
	height: 100vh;
}

body {
	
	background-image: url('../IMG_FE/glowalet_1_ciclista.png');
	background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}


a {

	font-size: 100%;
	color: white;
	text-decoration: none;
	font-family: 'Titulos';
	font-weight: bold;

}
a.botones {

	opacity: 1;
	display: block;
	font-size: 60px;
	color: #a8a9ad;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	margin-left: 60%;


}
a.list:hover {

	color:#000000;
	
}

a:hover {

	color:#40C5DF;
}

ul{

	list-style-type: none;
}



h1{

	justify-content: center;
	align-items: center;
	text-align: center;

	font-size: 11px;
	color: white;
	text-decoration: none;
	font-family: 'Titulos';
	font-weight: normal;
	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

}

h2{
	font-size: 10px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';
	word-spacing: -2px;
}

#menu_principal {

	height: 100vh;
	width: 100vw;
	position: absolute;
	display: flex;
	flex-direction: column; 
	justify-content: center;

}

#video_1 {
	height: 100vh;
	background-color: orange;
	position: absolute;

}



#registrarse{
	float: right;
	
	position: absolute;
	right: 20vw;
	top: 6vh;
}

#entrar{
	
	float: right;
	
	position: absolute;
	right: 12vw;
	top: 6vh;
  	


}


.circulo {
	position: relative;
    width: 15vw;
    height: 20vh;
    display: flex;
    transform-origin: center;
    transition: .5s ease-in-out;
    justify-content: center;
	align-items: center;
	text-align: center;


	
	
}

.circulo p {
	display: table-cell;
	margin: 0;
	padding: 0 1rem;
	vertical-align: middle

}


.menu:hover {

	box-shadow: 0 0 0 8px #FFF, 0 0 0 8px #FFF;
}

.menu{

	float: right;
	background: #FFF;
    border-radius: 50%;
    
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    height: 60px;
   position: absolute;
    right: 25px;
    transition: box-shadow 2.5s cubic-bezier(.19, 1, .22, 1);
    width: 60px;
    z-index: 2;
  	top: 2vw;
  	right: 7vh;
  
  


} 

#circulo_blanco {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: white;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  	margin: auto;
	top: 87vh;
	right: 93vw;
  	padding:2%;
  	transition: box-shadow 2.5s cubic-bezier(.19, 1, .22, 1);


  	
}



.instagram{
	position: absolute;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	padding: 2%;
	z-index: 3;
}

.facebook{
	position: absolute;
	width: 100px;
	height: 100px;
	float: right;
	t
	padding: 2%;
}

.botones_cookies {

	font-size: 10px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';
	background-color: white;
	border-style: none;
	
	

}

.botones_cookies:hover {

	color: red;

}


.botones_cookies:active {

	border-style: none;
	border-color: white;


}

.cookies {
	position: absolute;

justify-content: center;
align-items: center;
	text-align: center;
	


	width: 370px;
	height: 10px;

	background: white;
	
	display: flex;

 	border-radius: 7px;
 	padding:1%;
 	border-style: solid;
	border-width: 1px;
	border-color: black;




}


#consultar_cookies {
	display: inline-block;
	width: 70px;
	border-style: none;
	outline: none;
	
}

#aceptar_cookies {
	display: inline-block;
	width: 100px;
	border-style: none;
	outline: none;
	
}





#barra_cookies {
	display: flex;
	font-size: 14
	width: 3px;
	height: 3px;
	justify-content: center;
	align-items: center;


	

}

#politica_cookies{

	width: 350px;

}

#siguenos {
	position: absolute;
	float: right;
	top: 30vh;
	right: 0.7vw;
	padding: 2%;
}

#cookies_div {
position: absolute;
background-color: white;
width: 50%;
height: 65%;
justify-content: center;
align-items: center;
	text-align: center;
	left: 25%;
	right: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 7px;
 	padding:1%;
 	visibility: hidden;

}

#titulo_cookies_div {

	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 15px;

	width: 100%;
	height: 6%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 7px;
 	
}

#titulo_cookies {

	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';

	
}







.hamburger {
    position: relative;
    top: 29px;
    left: 15px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .35s ease-in-out;
}

.hamburger:after,
.hamburger:before {
    background: #000;
    content: "";
    display: block;
    transition: .35s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

input {
    display: none;

}

input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
    background-color: #ff6666;
}
input:checked ~ label .circulo_blanco {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
}

input:checked ~ label .hamburger {
    transform: rotate(45deg);
    background-color: white;
}

input:checked ~ label .hamburger:after {
    transform: rotate(90deg);
    background-color: white;
    bottom: 0;
}

input:checked ~ label .hamburger:before {
    transform: rotate(90deg);
  background-color: white;
    top: 0;

}


input:checked + ul{
    display: block;
}
input + ul{
	display: none;
}

#test1{

	position: absolute;
	display: none;
	z-index: 8;
}

.photos {

	visibility: hidden;
	display: block;
	justify-content: center;
	color: #a8a9ad;
	text-decoration: none;
	font-weight: bold;
	font-family: "Segoe UI";
	margin-left: 30vw;
margin-bottom: 70vh; 


}

#opcion1{

	
	visibility: visible;
}

#opcion1:hover + #barra1{

	visibility: visible;
}
#barra1 {

	visibility: hidden;
	background-color: #f80000;
	
}






#opcion2{

	visibility: visible;
}

#opcion2:hover + #barra2 {

	visibility: visible;
}
#barra2 {

	visibility: hidden;
	background-color: #f80000;
	
}



#opcion3{

	visibility: visible;
}

#opcion3:hover + #barra3 {

	visibility: visible;
}
#barra3 {
	
	visibility: hidden;
	background-color: #f80000;
	

}


hr {
	margin: auto;
	margin-top: 0px;
	margin-left: 0px ;
 	height: 16px;
  	width: 10%;
  	margin-left: 240px;
  
}

img {

  visibility: hidden; 
  position: absolute;
  float: right;
  top: -20%; left: 100%;
  border-radius: 50%;
  width: 430px; 
  height:  430px;

  


}




