/*---------------------- FONTS ------------------------*/

@font-face{
	font-family: Titulos;
	src: url("../fonts/dunkin/Dunkin Sans.ttf");
	font-weight: bold;

	
	
}

@font-face{
	font-family: titulos_video;
	src: url("../font/Coco Gothic Bold-trial.ttf");

	
	
}

/*---------------------- TAGS ------------------------*/

html, body {
	width: 100%;
	max-width: 100%;
    height: 100vh;
	margin: 0px;
  	padding: 0px;
  	overflow-x: hidden;
  	scroll-snap-type: y mandatory;
  	 overflow-y: scroll;
  display: flex;

}




a {

	font-size: 100%;
	color: white;
	text-decoration: none;
	font-family: 'Titulos';
	font-weight: bold;

}
a.botones {

	opacity: 1;
	
	display: flex;
	font-size: 60px;
	color: #a8a9ad;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	margin-left: 90%;


}
a.list:hover {

	color:#000000;
	
}

a:hover {

	color:#40C5DF;
}

ul{

	list-style-type: none;
	margin-top: 15%;
}



h1{

	justify-content: center;
	align-items: center;
	text-align: center;

	font-size: 11px;
	color: white;
	text-decoration: none;
	font-family: 'Titulos';
	font-weight: normal;
	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

}

h2{
	font-size: 10px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';
	word-spacing: -2px;
}

h5 {

	font-size: 10px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';
	word-spacing: -2px;


}


hr {
	position: relative;
	margin-top: 0px;
	
 	height: 16px;
  	width: 5%;
  	display: flex;
  	float: left;
  	left: 9%;
  
}

/*---------------------- DIV PANTALLA PRINCIPAL ------------------------*/

#menu_principal {

	position: absolute;
	
	display: flex;
    width: auto;
    min-width: 100%;
    height: 100%;
  	text-align: center;
  	margin: 0px;
  	padding: 0px;
  	left: 0vw;
  

    object-fit: cover;
    z-index: 8;
	background: url('../IMG_FE/glowalet_1_ciclista.png')  center center;

background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}


/*---------------------- BACKEND ------------------------*/



#entrar_registrarse{

	position: absolute;


	width: auto;

	height: auto;
	right: 15%;

	top: 7.9%;
	word-spacing: 2.5vw;

}


/*---------------------- MENÚ (CIRCULO) ------------------------*/


.circulo {
	position: relative;
	display: block;
    width: 15vw;
    height: 20vh;
    display: flex;
    transform-origin: center;
    transition: .5s ease-in-out;
    justify-content: center;
	align-items: center;
	text-align: center;
	

	
	
}

.circulo p {
	display: table-cell;
	margin: 0;
	padding: 0 1rem;
	vertical-align: middle

}


.menu:hover {

	box-shadow: 0 0 0 8px #FFF, 0 0 0 8px #FFF;
}

.menu{

	float: right;
	background: #FFF;
    border-radius: 50%;
    
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    height: 60px;
   position: fixed;
    right: 5%;
    transition: box-shadow 2.5s cubic-bezier(.19, 1, .22, 1);
    width: 60px;
    z-index: 2;
  	top: 5.5%;
  	
  
  
/*---------------------- CIRCULO BLANCO (EN PRINCIPIO NADA) ------------------------*/

} 

#circulo_blanco {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: white;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  	margin: auto;
	top: 87vh;
	right: 93vw;
  	padding:2%;
  	transition: box-shadow 2.5s cubic-bezier(.19, 1, .22, 1);


  	
}

/*---------------------- LOGO ------------------------*/

#logo {
	position: fixed;
	
	float: left;
	display: flex;
	top: 0%;

	width: auto;

	padding: 2%;

	z-index: 6;
}

#logo_img {
	

	object-fit: cover;
	width: 25%;
	height: auto;
	 border-radius: 50%;
	 background-color: #1d1d1c;
	 border-width: 1px;
	 border-color:  #1d1d1c;
	 transition:  box-shadow 1.5s;
	 cursor: pointer;


}

#logo_img:hover {

	box-shadow: 0 0 0 5px #1d1d1c, 0 0 0 5px #1d1d1c;
	
}


/*---------------------- REDES ------------------------*/

#siguenos {

	position: absolute;
	margin: 0 0 0 0;
	bottom: 0%;
	width: 120px;
	top: 37%;
	height: 5%;
	

}

#bloque_derecha {

	position: fixed;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	top: 25%;
	right: 4.5%;
	height: 40%;
	width:4%;
}


.instagram{


	position: absolute;
	top: 0px;
	


	
	

}

.facebook{

	position: absolute;
	top: 13%;
	

	
	
	
}

/*---------------------- COOKIES ------------------------*/

.botones_cookies {

	font-size: 10px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';
	background-color: white;
	border-style: none;
	
	

}

.botones_cookies:hover {

	color: red;

}


.botones_cookies:active {

	border-style: none;
	border-color: white;


}

.cookies {
	position: fixed;
	display: flex;
justify-content: center;
align-items: center;
	text-align: center;
	margin: 92vh 0 0 36vw; /*arriba derecha abajo izquierda */



	width: 370px;
	height: 10px;

	background: white;
	
	

 	border-radius: 7px;
 	padding:1%;
 	border-style: solid;
	border-width: 1px;
	border-color: black;




}


#consultar_cookies {
	display: inline-block;
	width: 70px;
	border-style: none;
	outline: none;
	
}

#aceptar_cookies {

	display: inline-block;
	width: 100px;
	border-style: none;
	outline: none;
	
}





#barra_cookies {
	display: flex;
	font-size: 14
	width: 3px;
	height: 3px;
	justify-content: center;
	align-items: center;


	

}

#politica_cookies{

	width: 350px;


}



#cookies_div {
position: fixed;
background-color: white;
width: 50%;
height: 65%;
justify-content: center;
align-items: center;
	text-align: center;
	left: 25%;
	right: 50%;
	top: 15%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 7px;
 	padding:1%;
 	visibility: hidden;

}

#titulo_cookies_div {

	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 15px;

	width: 100%;
	height: 6%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 7px;
 	
}

#titulo_cookies {

	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: black;
	text-decoration: none;
	font-family: 'Titulos';

	
}





/*---------------------- HAMBURGER ------------------------*/

.hamburger {
    position: relative;
    top: 29px;
    left: 15px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .35s ease-in-out;
}

.hamburger:after,
.hamburger:before {
    background: #000;
    content: "";
    display: block;
    transition: .35s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

input {
    display: none;


}



input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
    background-color: #ff6666;
}
input:checked ~ label .circulo_blanco {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;

}

input:checked ~ label .hamburger {
    transform: rotate(45deg);
    background-color: white;
}

input:checked ~ label .hamburger:after {
    transform: rotate(90deg);
    background-color: white;
    bottom: 0;
}

input:checked ~ label .hamburger:before {
    transform: rotate(90deg);
  background-color: white;
    top: 0;

}


input:checked + ul{
    display: block;
}
input + ul{
	display: none;
}

/*---------------------- LISTA MENÚ ------------------------*/

#test1{

	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 8;
}



.photos {
	  visibility: hidden; 
  position: absolute;

  top: 0%; left: 50%;
  border-radius: 50%;
  width: 40vw; 
  height:  40vw;
	display: block;
	object-fit: cover;
	





}



.play_desaparece {

	visibility: hidden;
}

#opcion1{

	
	visibility: visible;
	width: auto;
	max-width: 10%;

}

#opcion1:hover + #barra1{

	visibility: visible;
}
#barra1 {

	visibility: hidden;
	background-color: #f80000;
	
}






#opcion2{

	visibility: visible;
	width: auto;
	max-width: 10%;
}

#opcion2:hover + #barra2 {

	visibility: visible;
}
#barra2 {

	visibility: hidden;
	background-color: #f80000;
	
}



#opcion3{

	visibility: visible;
	width: auto;
	max-width: 10%;
}

#opcion3:hover + #barra3 {

	visibility: visible;
}
#barra3 {
	
	visibility: hidden;
	background-color: #f80000;
	

}


/*---- PLAY ----*/

#play_btn {
	visibility: hidden;
	display: none;
	width: 10vh;
	height: 10vh;
	
	position: absolute;


	left: 40vw;
	top: 30vh;

	z-index: 8;

}

#play_btn2 {
	visibility: hidden;
	display: none;
	width: 10vh;
	height: 10vh;
	
	position: absolute;


	left: 50vw;
	top: 30vh;

	z-index: 8;

}

#play_btn3 {
	visibility: hidden;
	display: none;
	width: 10vh;
	height: 10vh;
	
	position: absolute;


	left: 40vw;
	top: 30vh;

	z-index: 8;

}




.play_imagen {
	
	
	width: 10vh;


}

.play_move {
	transition: all 1.5s ease-in-out;
	transform: translate(10vw,0);
}
.play_back {

	transition: all 1.5s ease-in-out;
	transform: translate(0vw,0);

}

.play_move1 {
	visibility: hidden;
	margin: 0 0 23vh 50vw;
}

.photo_move {
	transition: all 1.5s ease-in-out;
	transform: translate(0,-10vh);
}

.no_scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}


.slide {

  scroll-snap-align: start;
  min-width: 100vw;
  height: 100vh;
  display: flex;
}

.photos > img { display: none; }
.photos.expanded > img { display: block; }






/*---- MEDIA QUERIS ----*/


@media (max-width:360px){
	#logo{
		display:none;
	}

	.cookies{
		
	}

	#entrar_registrarse{
		display: none;
		
	}

	#siguenos {

	display: none;

	}
}





@media (max-width:700px){
	#logo{
		display:none;
	}

	.cookies{
		
	}

	#entrar_registrarse{
		position: absolute;

		overflow: hidden;
	width: auto;
	height: auto;

	left: 0%;
	top: 6%;
	word-spacing: 2.5vw;
		
	}

	#siguenos {

	position: fixed;
	float: right;
	top: 40%;
	right: 3%;


	}
}

@media (max-width:1200px){
	

}






