a {


	display: block;
	font-size: 60px;
	color: #a8a9ad;
	text-decoration: none;
	font-weight: bold;
	font-family: "Segoe UI";
	margin-left: 240px;


}

a:hover {

	color:#000000;
	font-family: "Segoe UI";
	font-weight: bold;
}

ul {

	list-style-type: none;
}

img {

  visibility: hidden;
  position: absolute;
  top: 150px; left: 850px;
  border-radius: 50%;
  width: 350px; 
  height:  350px;
  float: right;

}




#opcion1{

	margin-top: 180px;
	visibility: visible;
}

#opcion1:hover + #barra1{

	visibility: visible;
}
#barra1 {

	visibility: hidden;
	background-color: #f80000;
	
}






#opcion2{

	visibility: visible;
}

#opcion2:hover + #barra2 {

	visibility: visible;
}
#barra2 {

	visibility: hidden;
	background-color: #f80000;
	
}



#opcion3{

	visibility: visible;
}

#opcion3:hover + #barra3 {

	visibility: visible;
}
#barra3 {
	
	visibility: hidden;
	background-color: #f80000;
	

}


hr {
	margin: auto;
	margin-top: 0px;
	margin-left: 0px ;
 	height: 16px;
  	width: 5%;
  	margin-left: 240px;
  
}


.circulo {
	position: fixed;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	float: right;
  	margin: auto;
 	top: 32px;
 	right: 34px; 
  	padding:2%;
  	/*LETRA*/ 
	color: #f4f4f4;
	font-size: 13px;
	font-weight: bold;
}
