a {

	font-size: 60px;
	color: #a8a9ad;
	text-decoration: none;
	font-weight: bold;
	font-family: "Segoe UI";

}

a:hover {

	color:#000000;
	font-family: "Segoe UI";
	font-weight: bold;
}

ul {

	list-style-type: none;
}


.ad {

	position: fixed;
	top: 5px;
	right: 30px;
}

hr {
  height: 10px;
  width: 5%;
  background-color: black;

}
