@font-face{
	font-family: Titulos;
	src: url("../fonts/Coco Gothic Bold-trial.ttf");
	
}



#video1 {
	display: inline-block;

position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}





#boton {

	
	width: auto;
	outline: none;
	border-width: 0;
	background-color: transparent;
	cursor: pointer;
	
}



#play {

	position: absolute;
	width: 80px;
	height: 80px;
	top: 45%;
	bottom: 45%;
	left: 47%;
	right: 47%;

}

#Mercado {

	position: absolute;
	color: #fafafa;
	z-index: 40;
	font-family: "Titulos";
	font-size: 80px;
}