body {
	margin: 0;
	font-family: Arial;
	font-size: 17px;
}

#video1 {

position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}



#boton {

	
	width: auto;
	outline: none;
	border-width: 0;
	background-color: transparent;
	cursor: pointer;
}



#play {

	position: fixed;
	width: 80px;
	height: 80px;
	top: 45%;
	bottom: 45%;
	left: 47%;
	right: 47%;

}


#Mercado {

position: absolute;
color: #fafafa;
z-index: 40;


}	
