body {
	margin: 0;
	font-family: Arial;
	font-size: 17px;
}

#video1 {

	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
	height: auto;
	width: auto;
}



#boton {

	width: auto;
	outline: none;
	border-width: 0;
	background-color: transparent;
	cursor: pointer;
}



#play {

	position: fixed;
	width: 80px;
	height: 80px;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;

}

.movimiento {
	background: red;
}